    {{#each blogs as |blog| }}
    {{#if logged_in}}
    <a href="/blog/{{ blog.id }}">
    {{else}}
    <a href="/login">
    {{/if}}
    <div class="container p-4">
        <section>
            <div class="post rounded border border-secondary border-2 p-2">
                <header class="row p-3"> 
                <h3 class="col-lg-5 col-sm-12 text-start">{{ blog.title }}</h3>
                <h4 class="col-lg-2 col-sm-12 text-end">{{ format_date blog.date_created }}</h4>
                </header>
            </div>
        </section>
    </div>
    </a>
{{/each}}

<script src="./js/login.js"></script>