    {{#each blogs as |blog| }}
    <a href="/blog/:id">
    <div class="container p-4">
        <section>
            <div class="post rounded border border-secondary border-2 p-2">
                <header class="row p-3"> 
                <h3 class="col-lg-5 col-sm-12 text-start">{{ blog.title }}</h3>
                <h4 class="col-lg-2 col-sm-12 text-end">{{ format_date blog.date_created }}</h4>
                </header>
                {{#if logged_in}}
                <button class="btn btn-primary col m-2" type="">Comment</button>
                {{else}}
                {{/if}}
            </div>
        </section>
    </div>
    </a>
{{/each}}