    <div class="container p-5">
        <section class="row text-center p-3">

            <h2>Please login or sign up!</h2>
            <div class="post col border border-secondary border-2 p-3 m-3">
                <header class=" p-2">Login</header>
                <form class="form login-form">
                    <div class="form-group p-2">
                        <label for="email-login">Username:</label>
                        <input class="form-input" type="text" id="email-login" />
                    </div>
                    <div class="form-group p-2">
                        <label for="password-login">Password:</label>
                        <input class="form-input" type="password" id="password-login" />
                    </div>
                    <div class="form-group p-2">
                        <button onclick="window.location.href='/dashboard'" class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>

            <div class="post col border-secondary border border-2 p-3 m-3">
                <header class="p-2">Sign Up</header>
                <form class="form signup-form">
                    <div class="form-group p-2">
                        <label for="name-signup">Username:</label>
                        <input class="form-input" type="text" id="name-signup" />
                    </div>
                    <div class="form-group p-2">
                        <label for="password-signup">Password:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="form-group p-2">
                        <button onclick="window.location.href='../'" class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>

        </section>
    </div>